<tr class="align-middle">
  <td><%= badge.title %></td>
  <td><%= image_tag badge.image.variant(resize_to_limit: [100, 100]) %></td>
  <td><%= badge.rule_name %></td>
  <td><%= badge.rule_value %></td>
</tr>
