<footer class="fixed-bottom">
  <p class="d-inline-block"><%= current_year %>: <%= t('.author')  %></p>
  <p class="d-inline-block"><%= github_path('thinknetika', 'testguru') %></p>
  <p class="d-inline-block"><%= school_path %></p>
</footer>