<li>
  <%= answer.body %><br>
  <%= link_to t('admin.answers.answer.show'), admin_answer_path(answer) %> |
  <%= link_to t('admin.answers.answer.edit'), edit_admin_answer_path(answer) %> |
  <%= link_to t('admin.answers.answer.delete'),
              admin_answer_path(answer),
              data: { turbo_method: :delete,
                      turbo_confirm: t('admin.answers.answer.confirm') } %>
</li>
