<h1><%= t(".header") %></h1>

<div class="container">
  <div class="row">
    <% if @tests.present? %>

  <%= render @tests %>
    <% else %>
      <p><%= t(".no_tests") %></p>
    <% end %>
  </div>
</div>
